version: '3.8'

services:
  backend:
    build: ./BackEnd
    container_name: unigo_backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=${MONGO_URI}   
      - JWT_SECRET=${JWT_SECRET} 

  frontend:
    build: ./FrontEnd
    container_name: unigo_frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true 
    depends_on:
      - backend