@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  
  background-color: #2E2D2D; 
  color: #ffffff; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

button {
  font-family: inherit;
  font-weight: 500;
}